.form {
    /* flex-wrap: wrap;
     */
    background-color: rgb(231, 231, 231);
    outline: 1px solid black;
    display: flex;

    flex-direction: column;
    padding: 2rem;
    font-size: 2rem;
    gap: 1rem;
}
.heading {
    font-size: 3.5rem;
    color: rgb(84, 235, 184);

    margin: 2rem auto;
    text-align: center;
}
.ele {
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 1rem;
    margin: 0.5rem;
}
.ele input {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background-color: rgb(202, 221, 238);
    padding: 1rem;
    border-radius: 0.5rem;
}
.ele::placeholder {
    text-align: center;
}
.btn {
    background-color: var(--bs-btn-bg) !important;
}
